#!/usr/bin/make -f

DIR := debian/tmp

%:
	dh $@ --with quilt

override_dh_auto_build:
	eval `opam env`
	mkdir -p _build
	ocamlfind ocamlopt -o _build/numeric -package pcre -linkpkg src/numeric.ml
	ocamlfind ocamlopt -o _build/file-path -package fileutils -linkpkg src/file_path.ml
	ocamlfind ocamlopt -o _build/url -package pcre -linkpkg src/url.ml
	ocamlfind ocamlopt -o _build/validate-value -package pcre,unix,containers -linkpkg src/validate_value.ml

override_dh_auto_install:
	mkdir -p $(DIR)/usr/libexec/vyos/validators
	cp _build/numeric $(DIR)/usr/libexec/vyos/validators
	cp _build/validate-value $(DIR)/usr/libexec/vyos/
	cp _build/file-path $(DIR)/usr/libexec/vyos/validators

override_dh_auto_test:
	echo "No tests yet"
